<div id="left-items-container" class="all_my_network">
    {% if all_new_posters_and_related_data|length == 0  %} 
    <div id="no-items-my_network">
        {{ 'left.all_new_posters.no_new_posters'| trans }} 
    </div> 
    {% else %}  
    {% for new_poster in all_new_posters_and_related_data %}
        <div class="my_network_item left-item-container">
            <a href="javascript:void(0);"
               class="show_shop users"
               data-url="{{ path('index')}}shop/" 
               data-shop-id="{{new_poster['item'].id}}"
               >
                {% if new_poster['item'].getProfilePicture %}
                    <div class="image_of_follower m-i-p-p-u-d {% if new_poster['item'].getProfilePicture.widthVsHeight == 2%}center-horizontally{% endif%}">
                        {% set createdAt = new_poster['item'].getCreatedAt %}
                        {% set image_url = prefix ~"uploads/profilepictures/prpf/"
                        ~new_poster['item'].getProfilePicture.path %}
                            {% if new_poster['item'].getProfilePicture.widthVsHeight == 0 %}
                            <img class="m-i-p-p-u photo equal" src="{{ image_url }}">
                            {% elseif new_poster['item'].getProfilePicture.widthVsHeight == 1 %}
                            <span class="helper"></span>
                            <img class="m-i-p-p-u photo fat-profile-image" src="{{ image_url }}">
                            {% elseif new_poster['item'].getProfilePicture.widthVsHeight == 2 %}
                            <img class="m-i-p-p-u photo tall-profile-image" src="{{ image_url }}">
                            {% endif%}
                    </div>
                {% else %}
                    <div class="image_of_follower m-i-p-p-u-d pp-unavailable"></div>
                {% endif %}
                
                <div class="initial_info_of_follower">
                    <div class="username_of_follower">
                        {{new_poster['item'].username}}
                    </div>
                    <div class="domain_name_of_follower">
                    </div>  
                    <div class="number_of_articles_of_follower">
                        {{new_poster['number_of_articles']}}
                        {% if new_poster['number_of_articles'] == 1 %}
                            {{ 'global.article'| trans}}
                        {% else%}
                            {{ 'global.articles'| trans}}
                        {%endif%}
                    </div>
                </div>
            </a>
            <div class="clear"></div>
        </div>
{% endfor %}
{% endif %}
</div>
