<div id="mobile_discussion_container" 
     data-current-user-id="{{app.user.id}}" 
     data-current-post-id="{{post.id}}" 
     data-current-sender-id="{{interlocutor.id}}" 
     data-current-user-username="{{app.user.username}}"
     data-ws-ip="{{ app.request.server.get("SERVER_ADDR") }}"
     data-message-seen-base-url="{{ path('message_seen')}}"
     data-messages-seen-base-url="{{ path('messages_seen')}}"
     >
    <div class="ui-widget-header ui-chatbox-titlebar ui-dialog-header">
        <div class="ui-chatbox-title-m-from">
            {% include "MobileManagementBundle:Header:NavMenu.html.twig" %}
        </div>
        
        <a href="{{ path('mobile_shop_show', { 'shop_id' : interlocutor.id, 'page' : 0})}}" 
                   class="show_shop item">
            <div class="ui-chatbox-title-m-s-u">
                {{ interlocutor.username}}
            </div>
            
            {% if interlocutor.getProfilePicture %}
            {% set createdAt = interlocutor.getCreatedAt %}
            {% set image_url = 'pp/'~createdAt|date('Y')~'/'
                ~createdAt|date('m')~'/'
                ~interlocutor.getProfilePicture.path %}
            <div class="m-s-p-p-u-d profile_image {% if interlocutor.getProfilePicture.widthVsHeight == 2%}center-horizontally{% endif%}">
                {% if interlocutor.getProfilePicture.widthVsHeight == 0 %}
                    <img class="m-s-p-p-uphoto equal" src="{{ asset(image_url) }}" height= 25/>
                {% elseif interlocutor.getProfilePicture.widthVsHeight == 1 %}
                    <span class="helper"></span>
                    <img class="m-s-p-p-u photo fat-profile-image" src="{{ asset(image_url) }}" height= 25/>
                {% elseif interlocutor.getProfilePicture.widthVsHeight == 2 %}
                    <img class="m-s-p-p-u photo tall-profile-image" src="{{ asset(image_url) }}" height= 25/>
                {% endif %}      
            </div>
        {% else %}
        <div class="m-s-p-p-u-d profile_image center-horizontally">
                <img class="photo equal" src="{{ asset('pp/index.png') }}"/>
        </div>
        {% endif %}
        </a>
        
        {% set concernedImage= post.postMainImagePath %}
        {% if concernedImage and concernedImage.uploadDate%}
        {% set uploadDate = concernedImage.uploadDate %}
        {% set image_url = 'uploads/'~uploadDate|date('Y')~'/'
            ~uploadDate|date('m')~'/'
            ~uploadDate|date('d')~'/'
            ~uploadDate|date('H')~'/'~'s_'
            ~concernedImage.path %}
        <a href="{{path('mobile_item_show',{ 'id': post.id})}}"
           class="show_article_trigger">
        <div class="m-p-m-i-u-d profile_image {% if concernedImage.widthVsHeight == 2%}center-horizontally{% endif%}">
            {% if concernedImage.widthVsHeight == 2%}
                <img class="m-p-m-i-u photo equal" src="{{ asset(image_url) }}" height= 25/>
            {% elseif concernedImage.widthVsHeight == 1 %}
                <span class="helper"></span>
                <img class="m-p-m-i-u photo fat-profile-image" src="{{ asset(image_url) }}" height= 25/>
            {% elseif concernedImage.widthVsHeight == 2 %}
            <img class="m-p-m-i-u photo tall-profile-image" src="{{ asset(image_url) }}" height= 25/> 
            {%endif%}
        </div>
        </a>
        {%endif%}
        
    </div>

    <div class="ui-widget-content ui-chatbox-content">
        <div  class="ui-widget-content ui-chatbox-log">   
        {% for message in messages %}
           <div class="ui-chatbox-msg">
               <b>{{message.sender.username}}:</b><span>{{ message.messageContent }}</span>
           </div>     
        {% endfor %}     
        </div>
              
    </div>
        <div class="ui-widget-content ui-chatbox-input">
            <form class="message-form" 
              id="message_add_trigger" 
              action="{{ path('add_message', { 'receiver_id': interlocutor.id, 'post_id' :post.id }) }}" 
              method="post" {{ form_enctype(form) }} novalidate>        
                {{ form_row(form.messageContent) }}
                {{ form_widget(form._token) }}
            </form>
        </div>
            
                 
</div>



