<div id="center-context">
    <div id="center-context-articles-from">
        {{ 'menu.my_market'| trans}}
            {% if total_number_of_items >0 %}
                (
                {{total_number_of_items}} 
                {% if total_number_of_items == 1 %}
                    {{ 'global.article'| trans}})
                {% else %}
                    {{ 'global.articles'| trans}}
                {%endif%}
                )( 
                {{ number_of_followeds_by_current_user }}
                {% if total_number_of_items == 1 %}
                    {{ 'global.followed'| trans}}
                {% else %}
                    {{ 'global.followeds'| trans}}
                {%endif%}
                )
            {%endif%}
    </div>
</div>

<div id="center-content">
    <div id="center-items-container">
        {% if entities|length <=0 %}
            <div class="no-items">{{ 'header_dialogs.my_market.empty'| trans}}</div>
        {% endif %}
        {% include "ShopManagementBundle::items.html.twig" %}  
    </div>

    {% if entities|length > 0 %}
    <div id="center-content-pagination" class="center-pagination" 
        data-current-page="0" 
        data-url="{{path('get_my_market_posts')}}"
        data-total-pages="{{number_of_pages}}"
        >
        {% include "MembersManagementBundle:HomePage:pagination.html.twig" %}
    </div>
    {% endif %}
</div>