<div id="mobile-container">
    <div id="post-title-price-description">
        <div class="post-title-and-price" id="post-title-price-date">
            <div id="post-title">{{ entity.postTitle }}</div>
            <div id="post-price-and-date">
                <div id="post-price">
                    <span id="p-price">{{ entity.postPrice }}</span>
                    <span class="currency" id="currency">DHs</span>                        
                </div>
                <div class="post-date" id="post-date">
                    {{ entity.postDate|date('M-d') }} at {{ entity.postDate|date('H:m') }}   
                </div>
                <div id="post-bought">
                    <a class="bought-trigger"
                       href="javascript:void(0);" 
                       data-url="{{ path('post_bought', { 'post_id': entity.id }) }}"
                     >
                        <div class="bought_article_symbol bought_trigger_on{% if not entity.bought%} bought_trigger_off{% endif %}"
                             ></div>
                        <div class="bought_article_text">
                            {{ (entity.bought) ? 'post.show.sold'|trans : 'post.show.disponible'|trans }}
                        </div>
                        <div class="clear"></div> 
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="post-content" id="post-content">
            {{ entity.postContent|nl2br }}
        </div>
    </div>
    <div id="post-main-image">
        {% set uploadDate = entity.postMainImagePath.uploadDate %}
        {% set image_url = 'uploads/'~uploadDate|date('Y')~'/'
                            ~uploadDate|date('m')~'/'
                            ~uploadDate|date('d')~'/'
                            ~uploadDate|date('H')~'/'~'m_'
                            ~entity.postMainImagePath.path %}
        <img class="mobile_image" src="{{ asset(image_url) }}">
    </div>    
    <div id="post-images">
        {% for image in entity.images %}
            {%if image!=entity.postMainImagePath%}
            <div>
                {% set uploadDate = image.uploadDate %}
                {% set image_url = 'uploads/'~uploadDate|date('Y')~'/'
                    ~uploadDate|date('m')~'/'
                    ~uploadDate|date('d')~'/'
                    ~uploadDate|date('H')~'/'~'m_'
                    ~image.path %}
                <img class="mobile_image" src="{{ asset(image_url) }}"/>
            </div>
            {%endif%}
        {% endfor %}
    </div>
    <div id="post-footer">
        <div class="post-footer-right" id="post-footer-right">

            {% if entity.user %}
                <a href="{{ path('mobile_shop_show', { 'shop_id' : entity.user.id, 'page' : 0})}}" 
                   class="show_shop item"
                   data-shop-id="{{entity.user.id}}"
                   >
                <div class="post-date-owner-image-owner-name" id="post-owner-image-name">
                    {% if entity.user.getProfilePicture %}
                        <div class="post-owner-image {% if entity.user.getProfilePicture.widthVsHeight == 2%}center-horizontally{% endif%}" 
                            id="post-owner-image"
                            data-wVsH="{{entity.user.getProfilePicture.widthVsHeight}}">
                            {% set createdAt = entity.user.getCreatedAt %}
                            {% set image_url = 'pp/'~createdAt|date('Y')~'/'
                            ~createdAt|date('m')~'/'
                            ~entity.user.getProfilePicture.path %}
                            {% if entity.user.getProfilePicture.widthVsHeight == 0 %}
                            <img class="photo equal" src="{{ asset(image_url) }}"/>
                            {% elseif entity.user.getProfilePicture.widthVsHeight == 1 %}
                            <span class="helper"></span>
                            <img class="photo fat-profile-image" src="{{ asset(image_url) }}"/>
                            {% elseif entity.user.getProfilePicture.widthVsHeight == 2 %}
                            <img class="photo tall-profile-image" src="{{ asset(image_url) }}"/>
                            {% endif%}
                    </div>
                    {%else%}
                        <div id="post-owner-image" class="center-horizontally">
                            <img class="photo equal" src="{{asset('pp/index.png') }}" height= 25/>
                        </div>
                    {% endif%}
                    <div class="post-owner-name" id="post-owner-name">
                        {{entity.user.username}}
                    </div> 
                </div>
                </a>               
            {%endif%}
            <div class="clear"></div>
        </div>
        
        <div id="post-footer-left">
            {% if app.user %}
                {% if entity.user and (app.user.id == entity.user.id) %}
                    <div id="post-edit">
                        <a id="edit_article_trigger"  
                           href="{{ path('mobile_item_edits', { 'id': entity.id }) }}" 
                           >
                            <div id="edit_article_symbol"></div>
                            <div id="edit_article_text">{{'post.show.edit'|trans}}</div>
                            <div class="clear"></div>
                        </a>   
                    </div>
                            
                                
                    <div id="post-retweet">
                        <a id="retweet_article_trigger"  
                           href="" 
                           >
                            <div id="retweet_article_symbol"></div>
                            <div id="retweet_article_text">{{'post.show.retweet'|trans}}</div>
                            <div class="clear"></div>
                        </a>   
                    </div>
                            
                    <div id="post-second-bought">
                        <a class="bought-trigger"
                           href="javascript:void(0);" 
                           data-url="{{ path('post_bought', { 'post_id': entity.id }) }}"
                         >
                            <div
                                 class="bought_article_symbol bought_trigger_on{% if not entity.bought%} bought_trigger_off{% endif %}"
                                 ></div>
                            <div class="bought_article_text">
                                {{ (entity.bought) ? 'post.show.sold'|trans : 'post.show.disponible'|trans }}
                            </div>
                            <div class="clear"></div> 
                        </a>
                    </div>
                    
                    <div id="post-delete">
                        <form id="delete_article_trigger"
                            action="{{ path('mobile_item_deletes', { 'id': entity.id }) }}" 
                            method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(delete_form) }}
                            <button type="submit">
                                <div id="delete_article_symbol"></div>
                                <div id="delete_article_text">{{'post.show.delete'|trans}}</div>
                                <div class="clear"></div>
                            </button>
                        </form>
                    </div>
                {%endif%}
            {% endif %}
        </div>
    </div>

</div>    





