<div id="center-context">
    <div id="center-context-articles-from">
        {{ 'center.shop.items_from'| trans}} 
    </div>
    
    <div id="center-context-user-name">
        {{user.username}}   
    </div>
    {% if user.getProfilePicture %}
        <div id="center-context-user-image" class="{% if user.getProfilePicture.widthVsHeight == 2%}center-horizontally{% endif%}">
            {% set createdAt = user.getCreatedAt %}
            {% set image_url = 'uploads/profilepictures/prpf/'
                    ~user.getProfilePicture.path %}
                {% if user.getProfilePicture.widthVsHeight == 0 %}
                <img class="photo equal-profile-image"  src="{{ prefix ~ image_url }}"/>
                {% elseif user.getProfilePicture.widthVsHeight == 1 %}
                <span class="helper"></span>
                <img class="photo fat-profile-image"  src="{{ prefix ~ image_url }}"/>
                {% elseif user.getProfilePicture.widthVsHeight == 2 %}
                <img class="photo tall-profile-image"  src="{{ prefix ~ image_url }}"/>
                {% endif%}
        </div>        
    {% else %}
        <div id="center-context-user-image" class="center-horizontally">
            <img class="photo equal" src="{{ asset('pp/index.png') }}"/>
        </div>
    {%endif%}
    <div id="center-context-user-name">
        {% if total_number_of_items >0 %}
            (
            {{total_number_of_items}} 
            {% if total_number_of_items == 1 %}
                {{ 'global.article'| trans}})
            {% else %}
                {{ 'global.articles'| trans}})
            {%endif%}    
        {%endif%}
    </div>
    
</div>

<div id="center-content">
    <div id="center-items-container">
        {% if entities|length <=0 %}
            <div class="no-items">{{'center.shop.no_items_from'|trans}} {{user.username}}</div>
        {% endif %}
        {% include "ShopManagementBundle::items.html.twig" %}  
    </div>

    <div 
        id="center-content-pagination" class="center-pagination"
        data-current-page="0" 
        data-url="{{path('get_posts',{ 'shop_id': user.id})}}"
        data-total-pages="{{ number_of_pages}}" > 
        
        {% include "MembersManagementBundle:HomePage:pagination.html.twig" %}
     </div>
</div>

