<div id="left-items-container" class="all_my_inbox">
    {% if all_my_messages|length == 0  %} 
    <div class="no-items">
        {{ 'left.all_my_inbox.no_messages'| trans}}
    </div> 
    {% else %}
    {% for message in all_my_messages %}
            <div class="all_my_inbox_item left-item left-item-container"> 
                <div class="m-d-in_all_my_inbox">
                        <div class="m-d-up-in_all_my_inbox">
                            {{ message.messageDate|date('H:m') }}
                        </div>
                        <div  class="m-d-down-in_all_my_inbox">
                            {{ message.messageDate|date('M-d') }}
                        </div>
                </div>
                {% if app.user == message.sender %}{% set tempo2 = message.receiver %}
                {% else %}{% set tempo2 = message.sender %}{% endif %}
                <a href="javascript:void(0);"
                   class="show_article_trigger" 
                   data-show-url="{{path('post_show',{ 'id': message.post.id})}}"
                   >
                    <div class="product-container-in_all_my_inbox">
                        {% set concernedImage= message.post.postMainImagePath %}
                        {% if concernedImage 
                        and concernedImage.uploadDate
                        %}
                        {% set uploadDate = concernedImage.uploadDate %}
                        {% set image_url = 'uploads/'~uploadDate|date('Y')~'/'
                                                    ~uploadDate|date('m')~'/'
                                                    ~uploadDate|date('d')~'/'
                                                    ~uploadDate|date('H')~'/'~'s_'
                                                    ~concernedImage.path
                                %}
                        <div class="product-image-and-title-in_all_my_inbox" id="{{message.post.id}}">
                        <div class="product-image-in-in_all_my_inbox round-p-i-in_all_my_inbox">
                            <img class="myimg" src="{{asset(image_url)}}">
                        </div>
                        <div class="product-title-in-in_all_my_inbox" style="z-index: -1;">{{message.post.postTitle}}</div>                 
                        </div>
                        {%endif%}
                    </div>
                    <div class="m-about">{{'header_dialogs.my_inbox.about'|trans}}</div>
                </a> 
                
                <a href="javascript:void(0);"
                   class="show_shop"
                   data-url="{{ path('index')}}shop/" 
                   data-shop-id="{{tempo2.id}}"
                   data-last-date-url="{{path('last_date')}}"
                   >
                    {% if  tempo2.getProfilePicture %}
                        <div class="m-i-p-p-u-d {% if tempo2.getProfilePicture.widthVsHeight == 2%}center-horizontally{% endif%}">
                            {% set createdAt = tempo2.getCreatedAt %}
                            {% set image_url = 'pp/'~createdAt|date('Y')~'/'
                                ~createdAt|date('m')~'/'
                                ~tempo2.getProfilePicture.path %}
                            {% if tempo2.getProfilePicture.widthVsHeight == 0 %}
                            <img class="m-i-p-p-u photo equal" src="{{ asset(image_url) }}" height= 25/>
                            {% elseif tempo2.getProfilePicture.widthVsHeight == 1 %}
                            <span class="helper"></span>
                            <img class="m-i-p-p-u photo fat-profile-image" src="{{ asset(image_url) }}" height= 25/>
                            {% elseif tempo2.getProfilePicture.widthVsHeight == 2 %}
                            <img class="m-i-p-p-u photo tall-profile-image" src="{{ asset(image_url) }}" height= 25/>
                            {% endif%}
                        </div>
                    {% else %}
                        <div class="m-i-p-p-u-d center-horizontally">
                            <img class="photo equal" src="{{ asset('pp/index.png') }}"/>
                        </div>
                    {% endif %} 
                </a>
                <a href="javascript:void(0);" 
                   class="open_chat_trigger trigger2" 
                   data-post-id="{{message.post.id}}"
                   data-sender-id="{{tempo2.id}}"
                   data-url="{{ path('index')}}new_message/"
                   data-url2="{{ path('index')}}messages_between_two_users_about_article/"
                   data-main-src="{{ asset('uploads/documents/'~ message.post.postMainImagePath.path) }}"
                   data-sender-username="{{message.postOwner.username}}"
                   {# data-messages-between-two-users-about-article-url="{{ path('messages_between_two_users_about_article_in_all_my_inbox', { 'sender_id': message.sender.id , 'receiver_id' : message.receiver.id , 'post_id': message.post.id } )}}" #}
                   data-ppwvsh="{{message.postOwner.getProfilePicture.widthVsHeight}}"
                   data-miwvsh="{{message.post.postMainImagePath.widthVsHeight}}"
                   >
                        <div class="m-content">
                            <b>{{ tempo2.username }}:</b> {{ message.messageContent }}
                        </div>
                </a>            
            </div>  
    {% endfor %}
    {% endif %}  
</div>