    {% if messages|length == 0  %} 
    <div id="no-items-my_inbox">
        {{ 'header_dialogs.my_inbox.no_new_messages'| trans}}
    </div> 
    
    {% else %}  
           
    {% for message in messages %}
    <a href="javascript:void(0);" 
        class="open_chat_trigger trigger" 
        data-post-id="{{message[0].post.id }}" 
        data-sender-id="{{message[0].sender.id}}"
        data-url="{{ path('index')}}new_message/"
        data-url2="{{ path('index')}}messages_between_two_users_about_article/"
        {%if message[0].postOwner.getProfilePicture %}
        data-ppwvsh="{{message[0].postOwner.getProfilePicture.widthVsHeight}}"
        {%else%}
        data-ppwvsh="0"
        {%endif%}
        data-miwvsh="{{message[0].post.postMainImagePath.widthVsHeight}}"
        >
        <div class="inbox_item" data-sender-id="{{message[0].sender.id}}">
                <div class="m-n m-result">
                    {{message['result']}}
                </div>
                    
                <div class="m-from">
                    message{% if message['result'] >1 %}s{% endif%} from
                </div>
                
                {% if message[0].sender.getProfilePicture %}
                    {% set createdAt = message[0].sender.getCreatedAt %}
                    {% set image_url = 'pp/'~createdAt|date('Y')~'/'
                        ~createdAt|date('m')~'/'
                        ~message[0].sender.getProfilePicture.path %}
                    <div class="m-s-p-p-u-d profile_image {% if message[0].sender.getProfilePicture.widthVsHeight == 2%}center-horizontally{% endif%}">
                    {% if message[0].sender.getProfilePicture.widthVsHeight == 0 %}
                        <img class="m-s-p-p-u photo equal" src="{{ asset(image_url) }}" height= 25/>
                    {% elseif message[0].sender.getProfilePicture.widthVsHeight == 1 %}
                        <span class="helper"></span>
                        <img class="m-s-p-p-u photo fat-profile-image" src="{{ asset(image_url) }}" height= 25/>
                    {% elseif message[0].sender.getProfilePicture.widthVsHeight == 2 %}
                        <img class="m-s-p-p-u photo tall-profile-image" src="{{ asset(image_url) }}" height= 25/>
                    {% endif%}
                    </div>
                {% else %}
                    <div class="m-s-p-p-u-d profile_image center-horizontally">
                        <img class="photo equal" src="{{ asset('pp/index.png') }}"/>
                    </div>
                {% endif %}
                
                <div class="m-s-u">
                    {{message[0].sender.username}}
                </div>
                
                <div class="m-about">
                    {{ 'header_dialogs.my_inbox.about'| trans}}
                </div>

                {% set concernedImage= message[0].post.postMainImagePath %}
                {% if concernedImage 
                        and concernedImage.uploadDate  
                        and concernedImage.widthVsHeight
                        %}
                        {% set uploadDate = concernedImage.uploadDate %}
                        {% set image_url = 'uploads/'~uploadDate|date('Y')~'/'
                                                    ~uploadDate|date('m')~'/'
                                                    ~uploadDate|date('d')~'/'
                                                    ~uploadDate|date('H')~'/'~'m_'
                                                    ~concernedImage.path
                                %}
                <div class="m-p-m-i-u-d profile_image {% if concernedImage.widthVsHeight == 2%}center-horizontally{% endif%}">
                    {% if concernedImage.widthVsHeight == 0 %}
                        <img class="m-p-m-i-u photo equal" src="{{ asset(image_url) }}" height= 25/>
                    {% elseif concernedImage.widthVsHeight == 1 %}
                        <span class="helper"></span>
                        <img class="m-p-m-i-u photo fat-profile-image" src="{{ asset(image_url) }}" height= 25/>
                    {% elseif concernedImage.widthVsHeight == 2 %}
                        <img class="m-p-m-i-u photo tall-profile-image" src="{{ asset(image_url) }}" height= 25/>
                    {% endif %}      
                </div>
                {% endif %}
                
                <div class="m-at">
                    {{ 'header_dialogs.my_inbox.at'| trans}}
                </div>
                
                <div class="m-s-d">
                    <div class="m-s-d-up">
                        {{ message[0].messageDate|date('H:m') }}
                    </div>
                    <div  class="m-s-d-down">
                        {{ message[0].messageDate|date('M-d') }}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </a>
    {% endfor %}
    {% endif %}
    <a href="javascript:void(0);" class="show_all_my_inbox_trigger" data-url="{{ path('all_my_inbox')}}">
        <div class="inbox_item" id="all_my_inbox">
            {{ 'header_dialogs.my_inbox.show_all_my_inbox'| trans}}
        </div>
    </a>


                
