<div id="mobile-container">
    <div id="mobile-context">
        <div id="mobile-context-breadcrumb">
            <div id="mobile-context-user-name">
                {{ 'menu.my_market'| trans}}
            </div>
            <div id="mobile-context-number-of-items">
                {% if total_number_of_items >0 %}
                    ( {{total_number_of_items}}
                        {% if total_number_of_items == 1 %}
                            {{ 'global.article'| trans}}
                        {% else %}
                            {{ 'global.articles'| trans}}
                        {%endif%} ) ( 
                      {{ number_of_followeds_by_current_user }}
                        {% if total_number_of_items == 1 %}
                            {{ 'global.followed'| trans}}
                        {% else %}
                            {{ 'global.followeds'| trans}}
                        {%endif%} )
                {%endif%}
            </div>
        </div>
    </div>
    <div id="mobile-content">
        <div id="mobile-content-items-container">
            {% include "MobileManagementBundle:MyMarket:my_market_messages.html.twig" %}  
        </div>

        {% if number_of_pages >1%}
        <div id="mobile-content-pagination" 
            data-current-page="{{page}}" 
            data-url="{{ path('mobile_my_market', { 'page' : page }) }}"
            data-total-pages="{{number_of_pages}}"
            >
            <div id="pagination-navigation">
                {% if number_of_pages > 0 %}
                    <a href="{{ path('mobile_my_market', { 'page' : page + 1}) }}">
                        <div id="show_next_page" 
                           class="{% if number_of_pages == page + 1 %}hide{% endif %}"
                           >
                        </div>
                    </a>
                    <div id="page-number">
                        <input id="current-page" type="text" name="fname" value="{{page + 1}}">
                        <span id="total-pages">/{{ number_of_pages }}</span>
                    </div>
                    <a href="{{ path('mobile_my_market', { 'page' : page - 1}) }}">
                        <div id="show_previous_page" 
                            class="{% if page == 0 %}hide{% endif %}"
                            >
                        </div>
                    </a>
                    <div id="pagination-message">
                        <div id="pagination-message-text">{{'errors.pagination' | trans}}</div>
                        <div id="pagination-message-close">X</div>
                    </div>
                    {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>