<nav class="menu">
    
    {% include "MobileManagementBundle:Header:NavMenu.html.twig" %} 
    
    <a class="toggle-nav-search tnavi" href="#">{{ 'menu.search.search'| trans}}</a>
    <a class="toggle-nav-by-category tnavi" href="#">{{ 'menu.navigate_by_category'| trans}}</a>
   
    <div class="menuItems navi active">
        <ul>
            <li class="current-item">
                <a href="{{ path('mobile_admin', { 'page': 0}) }}">
                    {{ 'menu.home'| trans}}
                </a>
            </li>
            <li>
                <a href="{{ path('mobile_my_shop', { 'page': 0}) }}">
                    {{ 'menu.my_shop'| trans}}
                </a>
            </li>
            <li>
                <a href="{{ path('mobile_item_new', { 'page': 0}) }}">
                    {{ 'menu.new_article'| trans}}
                </a>
            </li>
            <li>
                <a href="{{ path('mobile_profile') }}">
                    {{ 'menu.my_settings'| trans}}
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </li>
        </ul>   
    </div>
        
    <div class="search-form navi active">
        {% include "MobileManagementBundle:Header:search.html.twig" %} 
    </div>
        
    <div class="by-category-select navi active">
        {% include "MobileManagementBundle:Header:CategoriesSelect.html.twig" %} 
    </div>
    

</nav>