{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}"
      method="POST" 
      class="fos_user_profile_edit" 
      data-iu-url="{{ path('update_profile_picture', { 'user_id': form.vars.value.getId })}}"
      novalidate>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
      
    <div class="profile_picture">
        {% if form.vars.value.getProfilePicture %}
            {% set profilePhotoLink = prefix ~ form.vars.value.getProfilePicture   %}

        {% else %}
            {% set profilePhotoLink = prefix ~ "pp/index.png"   %}
        {%endif%}
         <img class="photo"  src="{{ profilePhotoLink }}" width="60"/>
        {{ dump(profilePhotoLink) }}
         <input
                 type="file"
                 id="fos_user_profile_form_profile_picture"
                 name="fos_user_profile_form[profile_picture]"
                 required="required"
                 class="chooser">
         <a href="#">Click me to choose a file</a>
      </div>      
    

    
      <div class="map-canvas" id="map-canvas" style="height:180px" ></div>
      
 
      <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
      </div>

      <a href="javascript:void(0);" class="cancel_button_edit_profile" data-url="{{ path('fos_user_profile_show')}}">Cancel</a>
</form>
