<div class="fos_user_user_show"
     data-latitude="{{ user.latitude }}"
     data-longitude="{{ user.longitude }}">
    <div>
        {% if user.getProfilePicture %}
            {% set profilePhotoLink = prefix ~"uploads/profilepictures/prpf/" ~ user.getProfilePicture.getPath   %}
            {% set profilePhotoUpdateText = 'left.profile.show.updateProfilePhoto'   %}
        {% else %}
            {% set profilePhotoUpdateText = 'left.profile.show.newProfilePhoto'   %}
        {%endif%}

        <div id="profile_picture_block"
            >
            <a href="javascript:void(0);"
               id="change_profile_picture_trigger"
                >
                {{ profilePhotoUpdateText | trans }}
            </a>

            <a href="javascript:void(0);"
                    {% if not user.getProfilePicture %}
                        style="display: none"
                    {%endif%}
               id="delete_profile_picture_trigger"
               data-id-url="{{ path('delete_profile_picture')}}">
                {{ 'left.profile.show.deleteProfilePhoto' | trans }}
            </a>

            <div class='clear'>
        </div>

            {% if user.getProfilePicture %}
                <img  id="profile_picture"
                      src="{{ profilePhotoLink }}"
                      width="100"/>

            {% else %}
                <div class="pp-unavailable"></div>
            {%endif%}

        <form id="user_profile_form_profile_picture"
              method="post"
              enctype="multipart/form-data"
              novalidate>
        <input
            type="file"
            id="fos_user_profile_form_profile_picture"
            name="fos_user_profile_form[profile_picture]"
            required="required"
            class="chooser"
            data-iu-url="{{ path('update_profile_picture', { 'user_id': user.getId })}}"
        >
        </form>
    </div>
    <br><br>
        <br>
    <p class="title_in_profile">{{ 'left.profile.show.username'|trans }}:</p>
    <p class="content_in_profile">{{ user.username }}</p>
    <p class="title_in_profile">{{ 'left.profile.show.email'|trans }}: </p>
    <p class="content_in_profile">{{ user.email }}</p>


    <p class="title_in_profile">{{ 'left.profile.show.website'|trans }}:</p>
    <p class="content_in_profile">
        www.{{ user.username }}.jou.la
    </p>

    {% if user.getStoreDescription %}
        <p class="title_in_profile">{{ 'left.profile.show.storeDescription'|trans }}:</p>
        <p class="content_in_profile">{{ user.getStoreDescription }}</p>
    {%endif%}

    <a href="javascript:void(0);"
       style="display: none;"
       id="deactivate_my_profile"
       data-url="{{path('deactivate_profile')}}"
    >
        {{ 'left.profile.deactivate' | trans }}
    </a>
    </div>
</div>
    

