{% extends '::base.html.twig' %}

{% block myscript %}
    <script type="text/javascript" id= "mscript" data-url="{{ path('mobile_index', { page : 0 })}}" >

        if( ('onorientationchange' in window) 
                || (window.screen.width < window.screen.height)
                || (window.screen.width < 1280)
                ) { 
            var url = document.getElementById('mscript').getAttribute('data-url');
            window.location.replace(url);
        }
    </script>
{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/homepage_styles.css') }}" />
{% endblock %}

{% block body %}
    
{% include "MembersManagementBundle:HomePageInitial:homePageTemplates.html.twig" %} 
    
<div id="header">
      {% include "MembersManagementBundle:HomePageInitial:HomePageHeader.html.twig" %}
</div>

<div id="content" class="righty" 
     data-is-login-login="0"
     data-login-login-url="{{ path('fos_user_security_login')}}"
     data-all-new-posters-url="{{ path('all_new_posters')}}"
     data-url-all-jawla="{{ path('all_jawla')}}"
     data-url-category="{{ path('show_category') }}"
     >
    
    <div id="left_container">
        <div id="left_progress">
            <div></div>
        </div>
        <div id="left">
            {% include "MembersManagementBundle:HomePageInitial:HomePageLeftInitial.html.twig" %}
        </div>
    </div>
    <div id="center_container">
        <div id="center_progress">
            <div></div>
        </div>
        <div id="center">
            {% include "MembersManagementBundle:HomePageInitial:HomePageCenterInitial.html.twig" %}
        </div>
    </div>
    <div id="right_container">
        <div id="right_progress">
            <div></div>
        </div>
        <div id="right">
            {% include "MembersManagementBundle:HomePageInitial:HomePageRightInitial.html.twig" %}
        </div>
    </div>
    
</div>
<div id="left_direction">
    <div id="left_direction_arrow"></div>
</div>
<div id="right_direction">
     <div id="right_direction_arrow"></div>
</div>
        
        
<div id="security">
    <div id="security_fucker">
        <div id="login_trigger_container">
            <a href="javascript:void(0);" class="login_trigger">
                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
            </a>
        </div>

        <div id="signup_trigger_container">
            <a href="javascript:void(0);" class="signup_trigger">
                {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
            </a>
        </div>
    </div>
    <div id="security_progress">
        <div></div>
    </div>
    <div id="security_header">
        <div id="login">
        {{ render(controller('MembersManagementBundle:Security:login')) }}
        </div>
        <div id="register">
        {{ render(controller('MembersManagementBundle:Registration:register')) }}
        </div>
    </div>
    <div id="security_footer">
        <a class="lb-close"></a>
    </div>
</div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/homepage_js.js') }}"></script> 
{% endblock %}

