{% extends ':mobile:base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mobile_fos_styles.css') }}" />
{% endblock %}

{% block body %}

{% include "MobileManagementBundle:Header:mobileFosHeader.html.twig" %}

{% block fos_user_content %}
<div id="mobile-container">
    <div class="wrapper">
	<div class="container">
            <div>
                {{ 'resetting.check_email'|trans({'%email%': email}) }}
            <div>
            <div>
                <a class="back_to_login"
                    id="back_to_login" 
                    href="{{ path('mobile_fos_user_security_login') }}">{{ 'resetting.back_to_login'|trans}}</a>
            <div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
 
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/mobile_my_inbox_js.js') }}"></script>
{% endblock %}