<div id="left-items-container" class="all_my_network">
    {% if followers_and_related_data|length == 0  %} 
    <div class="no-items">
       {{ 'left.all_my_network.no_followers'| trans}}
    </div> 
    {% else %}  
    {% for follower in followers_and_related_data %}
        <div class="my_network_item left-item-container">
            <a href="javascript:void(0);"
               class="show_shop users"
               data-url="{{ path('index')}}shop/" 
               data-shop-id="{{follower['item'].follower.id}}"
               data-last-date-url="{{path('last_date')}}"
               >
            {% if follower['item'].follower.getProfilePicture %}
                <div class="image_of_follower m-i-p-p-u-d {% if follower['item'].follower.getProfilePicture.widthVsHeight == 2%}center-horizontally{% endif%}">
                        {% set createdAt = follower['item'].follower.getCreatedAt %}
                        {% set image_url = 'pp/'~createdAt|date('Y')~'/'
                            ~createdAt|date('m')~'/'
                            ~follower['item'].follower.getProfilePicture.path %}     
                        {% if follower['item'].follower.getProfilePicture.widthVsHeight == 0 %}
                        <img class="m-i-p-p-u photo equal" src="{{ asset(image_url) }}" height= 25/>
                        {% elseif follower['item'].follower.getProfilePicture.widthVsHeight == 1 %}
                        <span class="helper"></span>
                        <img class="m-i-p-p-u photo fat-profile-image" src="{{ asset(image_url) }}" height= 25/>
                        {% elseif follower['item'].follower.getProfilePicture.widthVsHeight == 2 %}
                        <img class="m-i-p-p-u photo tall-profile-image" src="{{ asset(image_url) }}" height= 25/>
                        {% endif%}
                </div>
            {% else %}
                <div class="image_of_follower m-i-p-p-u-d center-horizontally">
                        <img class="photo equal" src="{{ asset('pp/index.png') }}"/>
                </div>
            {% endif %}   
                <div class="initial_info_of_follower">
                    <div class="username_of_follower">
                       {{follower['item'].follower.username}} 
                    </div>
                    <div class="domain_name_of_follower">
                        {{follower['number_of_followers']}}
                        {% if follower['number_of_followers'] == 1 %}
                        {{ 'global.follower'| trans}}
                        {% else %}
                        {{ 'global.followers'| trans}}
                        {%endif%}
                    </div>  
                    <div class="number_of_articles_of_follower">
                        {{follower['number_of_articles']}}
                        {% if follower['number_of_articles'] == 1 %}
                            {{ 'global.article'| trans}}
                        {% else%}
                            {{ 'global.articles'| trans}}
                        {%endif%}
                    </div>
                </div>
                </a>
        <div class="follow_unfollow_of_follower">
                <a data-url="{{path('follow_unfollow_shop',{ 'shop_id': follower['item'].follower.id}) }}"
                   href="javascript:void(0);" 
                   class="trigger_follow {% if follower['doesCurrentUserFollowThisUser'] %}trigger_unfollow{% endif %}"
                   ></a>
                <a href="javascript:void(0);" class="follow-word">{% if follower['doesCurrentUserFollowThisUser'] %}{{ 'global.unfollow'| trans}}{% else %}{{ 'global.follow'| trans}}{%endif%}</a>
        </div>
        <div class="clear"></div>
</div>
{% endfor %}
{% endif %}
</div>
