<div class="header_dialogs">
    <div class="categories_dialog" style="display:none">
        {% include "ShopManagementBundle:Category:AllCategoriesForHeader.html.twig" %}
    </div>
</div>

<div class="left_navigation">
    <div class="website_logo">
        <a href="{{path('admin')}}">
        </a>
    </div>

    <div class="my_search">
        {% include "MembersManagementBundle::search.html.twig" %} 
    </div>

    <div class="show_categories">
        <a href="javascript:void(0);" class="show_categories_trigger"> 
            <div>{{ 'menu.navigate_by_category'| trans}}</div>
            <div class="show_categories_arrow"></div>
        </a>
    </div>

    <div class="my_shop_and_new_article">
        <div class="">
                <a href="javascript:void(0);" class="show_my_shop" data-url="{{path('get_my_shop')}}">
                    {{ 'menu.my_shop'| trans}}
                </a>
        </div>
        <div class="new_article">            
                <a href="javascript:void(0);" class="new_article_trigger" > 
                    &#8594; {{ 'menu.new_article'| trans}}
                </a>
        </div>  
    </div>
</div>



<div class="logout-and-settings">
    <div class="my_settings">            
        <a href="javascript:void(0);" class="show_my_profile" data-url="{{path('fos_user_profile_show')}}">
           {{ 'menu.my_settings'| trans}}
        </a>
    </div>
    <div class="logout">
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    </div>
</div> 

<div class="right_navigation">
    <div class="superior_right">
            <div class="profile_image">
                <a href="javascript:void(0);" class="show_my_profile" data-url="{{path('fos_user_profile_show')}}">
                {% if currentUser.getProfilePicture %}
                    {% set createdAt = currentUser.getCreatedAt %}
                    {% set image_url = prefix ~"uploads/profilepictures/prpf/"
                        ~currentUser.getProfilePicture.path %}                        
                    {% if currentUser.getProfilePicture.widthVsHeight == 0 %}
                        <img class="photo equal" src="{{ image_url }}"/>
                    {% elseif currentUser.getProfilePicture.widthVsHeight == 1 %}
                        <span class="helper"></span>
                        <img class="photo fat-profile-image" src="{{ image_url }}"/>
                    {% elseif currentUser.getProfilePicture.widthVsHeight == 2 %}
                        <img class="photo tall-profile-image" src="{{ image_url }}"/>
                    {% endif%}
                {% else %}
                    <div class="profile_image pp-unavailable"></div>
                {% endif%}
                </a>
            </div>                 

    </div>
    <div class="inferior_right">            
            <a  href="{{path('show_shop',{ 'shop_id': currentUser.id })}}" target="_blank">
               {# {{}}.jaw.la #}
            </a>
    </div>



</div>
                
<div class="clear"></div>
                
